{{> "layouts/header.hbs" }}
<div>
    <div>
        <img src="/src/assets/creatingform.webp" alt="Logo" aria-label="" class="mw-100">
    </div>
    <p class="intro">Fondée par Manuel Garcia à Audincourt, est née de sa passion pour le sport et de son envie de
        partager cette
        énergie. Aujourd’hui, notre salle est bien plus qu’un lieu d’entraînement : elle incarne un esprit convivial où
        chacun, débutant ou confirmé, peut atteindre ses objectifs dans une ambiance motivante.</p>
</div>

<section>
    <div>
        <div>
            <img src="/src/assets/icon1.webp" alt="Icon musculation" aria-label="">
        </div>
        <div>
            <p class="title-h3">+ DE 180 ADHÉRENTS</p>
        </div>
        <p>Des adhérents déterminés à repousser leurs limites et atteindre de nouveaux sommets.</p>
    </div>

    <div>
        <div>
            <img src="/src/assets/icon2.webp" alt="Icon coach" aria-label="">
        </div>
        <div>
            <p class="title-h3">2 COACHS</p>
        </div>
        <p>Deux coachs passionnés pour vous accompagner avec un suivi personnalisé et motivant.</p>
    </div>

    <div>
        <div>
            <img src="/src/assets/icon3.webp" alt="Icon animateur" aria-label="">
        </div>
        <div>
            <p class="title-h3">19 ANIMATEURS</p>
        </div>
        <p>Des animateurs dynamiques, prêts à vous inspirer et à vous soutenir dans l'atteinte de vos objectifs.</p>
    </div>
</section>


<section>
    <h2>Découvrez nos services</h2>
    <p>Profitez de nos deux salles distinctes : l'une dédiée aux poids libres et au yoga, l'autre aux machines
        guidées et à l’espace cardio.</p>

    <div>
        <div>
            <h3>MUSCULATION</h3>
            <hr>
        </div>
        <div>
            <img src="/src/assets/musculation.webp" alt="Kettlebell" aria-label="">
        </div>
    </div>

    <div>
        <div>
            <h3>POIDS DU CORPS</h3>
            <hr>
        </div>
        <div>
            <img src="/src/assets/pdc.webp" alt="Femme sportive" aria-label="">
        </div>
    </div>

    <div>
        <div>
            <h3>CARDIO</h3>
            <hr>
        </div>
        <div>
            <img src="/src/assets/cardio.webp" alt="Homme en train de faire de la corde a sauter" aria-label="">
        </div>
    </div>

</section>

<section class="fonctionnalite">
    <h2>Profitez de notre nouvelle fonctionnalite de suivi personnalise !</h2>
    <p>C’est simple, inscrivez vous, répondez à notre questionnaire, définissez vos objetifs et nous vous offrons un
        premier programme d’entraînement que vous soyez débutant ou expert.</p>

    <div>
        <div>
            <div>
                <img src="/src/assets/bord.png" alt="Icon tableau de bord" aria-label="">
            </div>
            <p>Renseignez votre tableau de bord (âge, poids, passé sportif, objectif).</p>
        </div>

        <div>
            <div>
                <img src="/src/assets/cible.png" alt="Icon cible objectif" aria-label="">
            </div>
            <p>Ciblez vos objectifs (tonification, perte de poids, améliorer son endurance...).</p>
        </div>

        <div>
            <div>
                <img src="/src/assets/creation.png" alt="Icon création de programme" aria-label="">
            </div>
            <p>Créé votre programmes grâce à notre palette d’entraînement.</p>
        </div>

        <div>
            <div>
                <img src="/src/assets/apple.png" alt="Icon nutrition pomme" aria-label="">
            </div>
            <p>Découvrez notre tableau nutritionnel accompagné d'idées de plats 100% fit.</p>
        </div>

    </div>
</section>

<section>
    <div>
        <h2>Découvrez nos abonnements</h2>
        <p>Il n’y a aucun frais d’inscription ni de badge d’entrée. L’entrée se fait par reconnaissance faciale et
            l’inscription est uniquement disponible en présentiel.</p>
    </div>

    <div class="cards">
        <!-- Étudiant -->
        <div class="card">
            <h3>Étudiant</h3>
            <div class="price">130€ / An</div>
            <ul>
                <li>Vous pouvez changer d’abonnement à tout moment.</li>
                <li>Accès à l’espace personnel</li>
                <li>Packs débutant et intermédiaire</li>
            </ul>
            <p>*Copie carte d’identité et étudiante requises avec autorisation parentale pour les moins de 18 ans.</p>
        </div>
        <!-- Premium -->
        <div class="card premium">
            <h3>Premium</h3>
            <div class="price">180€ / An</div>
            <ul>
                <li>Vous pouvez passer à un abonnement inférieur à tout moment.</li>
                <li>Accès à l’espace personnel</li>
                <li>Packs débutant, intermédiaire et avancé</li>
                <li>Accès à la nutrition</li>
                <li>Création de programmes personnalisés</li>
            </ul>
            <p>Possibilité de paiement en 2 fois (chèques ou espèces).</p>
        </div>
        <!-- Classique -->
        <div class="card">
            <h3>Classique</h3>
            <div class="price">150€ / An</div>
            <ul>
                <li>Vous pouvez changer d’abonnement à tout moment.</li>
                <li>Accès à l’espace personnel</li>
                <li>Packs débutant et intermédiaire</li>
                <li>Accès à la nutrition</li>
            </ul>
            <p>Paiement en 2 fois (chèques ou espèces).</p>
        </div>
    </div>
    </div>

</section>

<section>
    <div>
        <div>
            <h2>Nos adhérents témoignent !</h2>
            <p>Nous veillons au bien-être de nos adhérents et cultivons un esprit de cohésion.</p>
        </div>

        <div>
            <div>
                <p> Mikaïl </p>
            </div>
            <p>“Très bonne salle de sport, petite mais excellente ambiance et les gens sont là pour aider !”</p>
        </div>
    </div>

</section>
{{> "layouts/footer.hbs" }}