<div>
    <div class="img-header">
        <div class="img-header__container">
            <p class="img-header__bienvenue">Bienvenue à Creating Form</p>

            <h1 class="img-header__slogan">Faites de chaque jour une nouvelle étape vers la réussite.</h1>

            <p class="img-header__text">Creating Form est l’une des premières salles à avoir ouvert ses portes dans le
                Pays de
                Montbéliard.</p>
            <a href="#inscription" class="btn__rejoignez-nous">REJOIGNEZ-NOUS</a>
        </div>
    </div>
</div>