.logo img {
  width: 147px
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-header {
  background-image: url(/src/assets/imgheader.png);
  /* Remplace 'ton-image.jpg' par l'image utilisée */
  background-size: cover;
  /* S'assure que l'image couvre tout le conteneur */
  background-position: center;
  /* Centre l'image */
  height: 705px;
  /* Prend toute la hauteur de l'écran */
  display: flex;
  /* Utilise flexbox pour centrer le contenu */
  justify-content: center;
  /* Centrage horizontal */
  align-items: center;
  /* Centrage vertical */

}

.img-header__container {
  max-width: 600px;
  /* Limite la largeur des textes */
  color: white;
  /* Contraste sur l'image de fond */
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;

}

.img-header__bienvenue {
  font-size: var(--M16);
  margin-bottom: 35px;
  /* Espace entre les lignes */

}

.img-header__slogan {
  font-size: var(--M36);
  font-weight: bold;
  margin-bottom: 35px;
}

.img-header__text {
  font-size: var(--M16);
  margin-bottom: 60px;
}


