.logo img {
    width: 147px
}

.logo {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.RDL {
    background-image: url(/src/assets/imgheader.webp);
    background-position: center center;
    background-size: cover;
    padding: 150px 10px;
}