</main>
<footer>
  <div>
    <img src="/src/assets/creatingform.webp" alt="Logo" class="mw-100">
  </div>
  <hr>
  <div>
    <p>CONTACT</p>
    <p>9 RUE DE SELONCOURT 25400 AUDINCOURT</p>
    <p>+33 6 41 19 82 43</p>
    <img src="/src/assets/facebook.webp" alt="Facebook">
  </div>
  <hr>
  <div>
    <p>LIENS RAPIDES</p>
    <ul>
      <li>ACCUEIL</li>
      <li>TARIFS</li>
      <li>PRÉ-INSCRIPTION</li>
      <li>CONTACT</li>
    </ul>
  </div>
  <hr>
  <div>
    <p>HORAIRES D'OUVERTURE</p>
    <p>LUNDI AU VENDREDI 08:30 - 21:00
      SAMEDI 09:00 - 17:00</p>
    <p>DIMANCHE FERMÉ</p>
  </div>
  <hr>
  <div>

    <p>© 2024 CreatingForm - Mentions légales & CGU - Confidentialité</p>
  </div>
</footer>
</body>

</html>