<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Creating Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/src/styles/style.css">
</head>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap"
  rel="stylesheet">
<script src="/src/javascript/menu.js"></script>

<body>
  <header>
    <div class="header">
      <div class="logo">
        <img src="/src/assets/creatingform.webp" alt="Logo" class="mw-100">
      </div>

      <div class="burger-menu">
        <a class="burger-img-header__btn" aria-label="Menu">
          <i class="bi bi-list"></i>
        </a>
      </div>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="#accueil">ACCUEIL</a></li>
        <li><a href="#tarif">TARIFS</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#inscrire">M'INSCRIRE</a></li>
        <li><a href="#connecter">ME CONNECTER</a></li>
      </ul>
    </nav>

    <div>
      <div class="img-header">
        <div class="img-header__container">
          <p class="img-header__bienvenue">Bienvenue à Creating Form</p>

          <h1 class="img-header__slogan">Faites de chaque jour une nouvelle étape vers la réussite.</h1>

          <p class="img-header__text">Creating Form est l’une des premières salles à avoir ouvert ses portes dans le Pays de
            Montbéliard.</p>

          <a href="#inscription" class="img-header__btn">REJOIGNEZ-NOUS</a>

        </div>
      </div>

    </div>

  </header>
  <main>