body {
  background-color: #0d0d0d;
  /* Couleur sombre (noir très foncé) */
  color: #ebebeb;
  /* Texte en blanc pour contraster avec le fond */
  font-family: 'Montserrat', sans-serif;
  /* Police globale */
  margin: 0;
  /* Éviter les marges par défaut */
  padding: 0;
  /* Éviter les paddings par défaut */
  min-height: 100vh;
  /* Assurer que l'arrière-plan couvre toute la hauteur de la page */
  line-height: 1.4;
  /* Améliore la lisibilité du texte */
}

.mw-100 {
  max-width: 100%;
  width: 187px;
  margin-left: 20px;

}


.intro {
  margin-left: 20px;
  margin-right: 20px;

}

.border {
  margin: auto;
  position: relative;
  border-radius: 10px;
  /* Arrondir les coins */
  padding: 2px;
  /* Épaisseur de la bordure */
  background: linear-gradient(90deg, #df3e3f, #e55a1c);
  /* Dégradé uniquement pour la bordure */
  width: 390px;
  /* Largeur de la carte */
  margin-bottom: 25px;
}

.content {
  background-color: #0d0d0d;
  /* Fond identique à celui du site */
  border-radius: 10px;
  /* Réduction pour respecter la bordure */
  padding: 20px;
  /* Espacement interne */

}

.title-h3 {
  font-size:var(--M18);
  font-weight: bold;
  margin-bottom: 10px;
}

.icons-intro {
  width: 55px;
  /* Ajuster la taille de l'icône */
  margin-bottom: 20px;
  /* Espacement sous l'icône */
  margin-top: 20px;

  }

  .sections-content {
    margin: 20px;
    /* margin-top: 70px;  */
    /* Espace entre les section */
    /* margin-bottom: 50px; */
    /* Espace entre les titres sections et le contenu */
  }


  .titres-sections {
    font-size: var(--M20);
    text-align: center;
  }

  .titres-sections h3 {
    margin: 0;
  }
  .sous-titres {
    text-align: center;
    font-size: var(--M14);
    
  }

 
  .img-services {
    border-radius: 50%;
    height: 100px;
  }

  .title-sections {
    font-size: var(--M18);
  }

  .services-card {
    align-items: center;
    margin: auto;
    position: relative;
    border-radius: 20px;
    /* Arrondir les coins */
    padding: 2px;
    /* Épaisseur de la bordure */
    background: linear-gradient(90deg, #df3e3f, #e55a1c);
    /* Dégradé uniquement pour la bordure */
    width: 390px;
    /* Largeur de la carte */
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    
  }

  .tt {
    padding-right: 60px;
    width: 190px;
  }

  .title-services {
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  .hr-services {
    width: 115px;
  }

.fonctionnalite {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.fonctionnalite-cards {
width: 350px;
margin-top: 35px;
margin-bottom: 35px;
}

.fonctionnalite-p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  margin: auto;
  border-radius: 20px;
  /* Arrondir les coins */
  padding: 2px;
  /* Épaisseur de la bordure */
  background: linear-gradient(180deg, #df3e3f, #e55a1c);
  /* Dégradé uniquement pour la bordure */
  width: 390px;
  /* Largeur de la carte */
  margin-bottom: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.card-premium {
  margin: auto;
  border-radius: 20px;
  /* Arrondir les coins */
  padding: 2px;
  /* Épaisseur de la bordure */
  background: linear-gradient(180deg, #df3e3f, #e55a1c);
  /* Dégradé uniquement pour la bordure */
  width: 390px;
  /* Largeur de la carte */
  margin-bottom: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}

