body {
  background-color: #0d0d0d;
  /* Couleur sombre (noir très foncé) */
  color: #ebebeb;
  /* Texte en blanc pour contraster avec le fond */
  font-family: 'Montserrat', sans-serif;
  /* Police globale */
  margin: 0;
  /* Éviter les marges par défaut */
  padding: 0;
  /* Éviter les paddings par défaut */
  min-height: 100vh;
  /* Assurer que l'arrière-plan couvre toute la hauteur de la page */
  line-height: 1.4;
  /* Améliore la lisibilité du texte */
}

.mw-100 {
  max-width: 100%;
  width: 187px;
  margin-left: 20px;
}

.border {
  margin: auto;
  position: relative;
  border-radius: 10px;
  /* Arrondir les coins */
  padding: 2px;
  /* Épaisseur de la bordure */
  background: linear-gradient(180deg, #df3e3f, #e55a1c);
  /* Dégradé uniquement pour la bordure */
  width: 390px;
  /* Largeur de la carte */
  margin-bottom: 25px;
}

.content {
  background-color: #0d0d0d;
  /* Fond identique à celui du site */
  border-radius: 10px;
  /* Réduction pour respecter la bordure */
  padding: 20px;
  /* Espacement interne */

}

.title-h3 {
  font-size: var(--M18);
  font-weight: bold;
  margin-bottom: 10px;
}

.icons-intro {
  width: 55px;
  /* Ajuster la taille de l'icône */
  margin-bottom: 20px;
  /* Espacement sous l'icône */
  margin-top: 20px;

}

.section__content {
  margin: 20px;
  /* margin-top: 70px;  */
  /* Espace entre les section */
  /* margin-bottom: 50px; */
  /* Espace entre les titres sections et le contenu */
}


.section__title {
  font-size: var(--M24);
  text-align: center;
  font-weight: 600;
}

.section__title-left {
  font-size: var(--M24);
  text-align: left;
  font-weight: 600;
}

.section__title {
  margin-bottom: 15px;
}

.section__sous_titre {
  text-align: center;
  font-size: var(--M14);
  margin-bottom: 50px;
}

.section {
  margin-top: 70px;
}







